<h1 class="text-center">Book <%= @warrior.nickname %></h1>
<div class="d-flex justify-content-center">
  <div class="card-warrior-index">
      <%= cl_image_tag @warrior.photo, crop: :fill, class: 'card-warrior-index-img'%>
    <div class="card-warrior-index-infos">
      <div>
        <h3><%= @warrior.nickname %></h3>
        <p><%= @warrior.race %></p>
      </div>
      <h3 class="card-warrior-index-pricing"><span><%= @warrior.price %></span>€ per day</h3>
    </div>
  </div>
  <div class="d-flex justify-content-center form-book-warrior", id = "warrior_card_booking">
    <% if policy(Booking).new? %>
      <%= simple_form_for [@warrior, @booking] do |f| %>
        <%= f.input :place, label: "Mission location" %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <div class="total-box">
          <p  class="m-0 py-2" id="total">TOTAL : </p>
          <div class="price py-2">
            <p class="m-0" id = "price"></p>
            <p class="m-0"> €</p>
          </div>
        </div>
        <%= f.submit "Book", class: "btn btn-primary"%>
      <% end %>
    <% end %>
  </div>
</div>
