<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <h2 class="mt-4">Booking details</h2>
  <div class="booking-card m-6 p-3 d-block">
    <%= cl_image_tag @booking.warrior.photo.url(:thumbnail), class: "rounded float-left corner-img" %>
    <div class="booking-card-details">
      <div class="booking-card-details-top d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-baseline">
          <h3><%= @booking.warrior.nickname %></h3>
          <% if current_user == @booking.user %>
            <%= link_to warrior_path(@booking.warrior) do %>
              <span class="small-link">See warrior details</span>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex booking-card-details-top-actions align-items-baseline">
          <% if current_user == @booking.user %>
            <%= link_to warrior_booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
              <span class="small-link">Cancel</span>
            <% end %>
          <% else %>
            <% if @booking.status.downcase == "pending" %>
              <div>
                <%= link_to "Accept",  warrior_booking_path(@booking.warrior, @booking, booking: { status: "Accepted"}), method: :patch, class: "btn btn-success" %>
                <%= link_to 'Decline',  warrior_booking_path(@booking.warrior, @booking, booking: { status: "Declined"}), method: :patch, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
              </div>
            <% else %>
              <%= @booking.status %>
            <% end %>
          <% end %>

        </div>
      </div>
      <div class="booking-card-details-info">
        <p><span class="bold-field">Booked for a mission in:</span></br><%= @booking.place %></p>
        <% if @booking.start_date == @booking.end_date %>
          <p>
            <span class="bold-field">Mission date:</span></br><%= @booking.start_date.strftime("%b. %e, %Y") %>
          </p>
        <% else %>
          <p>
            <span class="bold-field">Mission dates:</span></br>From <%= @booking.start_date.strftime("%b. %e, %Y") %> to <%= @booking.end_date.strftime("%b. %e, %Y") %>
          </p>
          <p><span class="bold-field">Duration:</span> <%= (@booking.end_date - @booking.start_date).to_i + 1 %> days</p>
        <% end %>

        <p id="booking-price">Total price: <%= number_with_delimiter(@booking.total_price, :delimiter => '.') %> €</p>
      </div>
    </div>
  </div>
  <% if current_user == @booking.user %>
    <%= link_to "Back to warriors", warriors_path %>
    <%= link_to "See all my reservations", owner_bookings_path, class: "mb-4" %>
  <% else %>
    <%= link_to "Back to bookings on #{@booking.warrior.nickname}", warrior_bookings_path(@booking.warrior_id) %>
    <%= link_to "Back to my warriors", owner_warriors_path, class: "mb-4" %>
  <% end %>
</div>

