<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542403764-19e1bb75cc75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-ghost" href="#">Apply now</a>
  </div>
</div>

<div class="cards">
  <div class="card-warrior">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-warrior-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-warrior-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-warrior-user avatar-bordered" />
    </div>
  </div>

    <div class="card-warrior">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-warrior-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-warrior-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-warrior-user avatar-bordered" />
    </div>
  </div>

    <div class="card-warrior">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-warrior-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-warrior-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-warrior-user avatar-bordered" />
    </div>
  </div>
</div>
