<div class="wrapper">
  <div class="content">
    <div class="top" style="background-image: url('<%= cl_image_path warrior.photo, height: 300, width: 400, crop: :fill %>')"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h6><%= warrior.nickname %></h6>
          <p><%= warrior.price %> € per day</p>
        </div>
        <%= link_to new_warrior_booking_path(warrior) do %>
        <div class="d-flex justify-content-center align-items-center warrior-info">
            <i class="fas fa-cart-plus"></i>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="inside">
    <%= link_to new_warrior_booking_path(warrior), class:"icon" do %>
      <i class="far fa-list-alt"></i>
    <% end %>
    <div class="contents">
      <table>
        <tr>
          <th>Species</th>
          <th>Specialty</th>
        </tr>
        <tr>
          <td><%= warrior.race %></td>
          <td><%= warrior.specialty %></td>
        </tr>
        <tr>
          <th>Weapon</th>
          <th><%= link_to "Full details", warrior_path(warrior), class:"btn btn-info" %></th>
        </tr>
        <tr>
          <td><%= warrior.weapon %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
