<h1>warriors</h1>

  <div class="cards">
    <% Warrior.all.each do |warrior|%>
      <%= link_to warrior_path(warrior) do %>
      <div class="card-warrior-index">
        <%= cl_image_tag warrior.photo, crop: :fill, class: 'card-warrior-index-img'%>
      <div class="card-warrior-index-infos">
        <div>
          <h2><%= warrior.nickname %></h2>
          <p><%= warrior.race %></p>
        </div>
      <h2 class="card-warrior-index-pricing"><%= warrior.price %>€</h2>
      </div>
      </div>
    <% end %>
    <% end %>
  </div> 