<% if policy(Warrior).show? %>
<div class="container">
 <div class="card-warrior-show">
   <%= cl_image_tag @warrior.photo, crop: :fill %>
   <div class="card-warrior-show-infos">
     <div class="card-warrior-show-description">
     <div class="book-warrior">
       <h2><%= @warrior.nickname %></h2>
     </div>
       <p><strong><span>Day rate:</span> <%= @warrior.price %>€</strong></p>
     </div>
     <div class="card-warrior-show-attributes">
       <p><span>Species:</span> <%= @warrior.race %></p>
       <p><span>Specialty:</span> <%= @warrior.specialty %></p>
       <p><span>Weapon:</span> <%= @warrior.weapon %></p>
       <p><span>Address:</span></br> <%= @warrior.address %></p>
     </div>
       <%= link_to "Book this warrior", new_warrior_booking_path(params["id"]), class:'btn btn-primary btn-book' %>
   </div>
 </div>
<% end %>

