<% if policy(Warrior).show? %>

  <div class="container">

    <div class="row">

      <div class="col-lg-4 offset-4">

      <div class="card-warrior-show">
        <div 
          class="card-warrior-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @warrior.photo, height: 300, width: 400, crop: :fill, gravity: :face %>)" >
        </div>
      <div class="card-warrior-show-infos">

      <div class="card-warrior-show-description">
        <div class="book-warrior">
          <h2><%= @warrior.nickname %></h2>
        </div>
        <p><strong><span>Day rate:</span> <%= @warrior.price %>€</strong></p>
      </div>

      <div class="card-warrior-show-attributes">
        <p><span>Species:</span> <%= @warrior.race %></p>
        <p><span>Specialty:</span> <%= @warrior.specialty %></p>
        <p><span>Weapon:</span> <%= @warrior.weapon %></p>
        <p><span>Address:</span></br> <%= @warrior.address %></p>
        <div class="d-flex flex-column justify-content-center card-bottom">
          <%= link_to "Book this warrior", new_warrior_booking_path(params["id"]), class:'btn btn-primary btn-book' %>
          <%= link_to "Back to warriors", warriors_path, class: 'text-center mt-3' %>
        </div>
      </div>

    </div>

    </div> 
  </div>

<% end %>