<div class="container">
  <div class="card-warrior-show">
    <%= cl_image_tag @warrior.photo, crop: :fill %>
    <div class="card-warrior-show-infos">
      <div class="card-warrior-show-description">
        <h1><%= @warrior.nickname %></h1>
        <p><strong>Price:</strong><span><strong><%= @warrior.price %>/strong></span></p>
        <p>War is life. Life is fun! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi.</p>
      </div>
      <div class="card-warrior-show-attributes">
        <p><span>Species:</span> <%= @warrior.race %></p>
        <p><span>Specialty:</span><%= @warrior.specialty %></p>
        <p><span>Weapon:</span><%= @warrior.weapon %></p>
        <p><span>Address:</span><%= @warrior.address %></p>
      </div>
    </div>
  </div>
  <%= link_to "book", new_warrior_booking_path(params["id"]), class:'btn btn-book' %>
</div>